<main class="container">
    <br>
    <div class="d-flex justify-content-between p-2 align-items-center">
        <h1>Tasks</h1>
        <form [formGroup]="formGroup" class="d-flex w-50 align-items-center gap-1" (ngSubmit)="onSubmit()">
            <div class="w-100">
                <input type="text" formControlName="description" class="form-control" />
                <small class="text-danger position-absolute" *ngIf="formGroup.get('task')?.touched && formGroup.get('task')?.invalid">
                    Please input a task to add. Must be at least 10 Characters.
                </small>
            </div>
            <button type="submit" class="btn btn-primary d-inline-block" style="white-space: nowrap;" [disabled]="!formGroup.valid">Add Task</button>
        </form>
    </div>
    <hr>
    <br>
    <div class="d-flex flex-column gap-1" *ngIf="tasks.length; else noTasks">
        <div *ngFor="let task of tasks; index as i" class="card row d-flex flex-row align-items-center justify-content-between p-2">
            <div class="d-flex gap-4 col-lg-10">
                <span style="white-space: nowrap; text-overflow: ellipsis; width: 70%; overflow:hidden;">{{ task.description }}</span>
            </div>
            <div class="d-flex gap-2 col-lg-2">
                <button class="btn btn-primary" [routerLink]="['/tasks', task.id]">Edit</button>
                <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
            </div>
        </div>
    </div>
</main>

<ng-template #noTasks>
    <h2 class="text-center">No tasks yet. Add one above.</h2>
</ng-template>