<main class="container">
    <div class="home-message">
        <br>
        <div class="d-flex align-items-center">
            <h1>Project Info</h1>
            <span style="width: 25px;"></span>
            <img src="/images/angular.png" class="img-fluid rounded" width="200" height="300"/>
            <span style="width: 15px;"></span>
            <img src="/images/spring-boot.png" class="img-fluid rounded" width="200" height="300" />
        </div>
        <div>
            <hr>
            <br>
            <h3>Frontend</h3>
            <ul>
                <li>Angular</li>
                <li>Bootstrap</li>
            </ul>
            <br>
            <h3>Backend</h3>
            <ul>
                <li>Spring Boot</li>
                <li>Spring JPA / Hibernate ORM</li>
                <li>H2 Database (In-memory storage solution)</li>
                <li>Repository Design Pattern</li>
            </ul>
        </div>
        <hr>
    </div>
    <div>
        <br><br>
        <h3>Project Purpose:</h3><br><span>To learn about and implement an Angular frontend / Spring Boot REST API</span>
    </div>
</main>
